body {
  margin: 0;
  padding: 0;
  height: 150vh;
  font-family: "Commissioner", Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
}

#overlay {
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: .5;
  position: fixed;
  z-index: 1;
}

header {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: lightblue;
  background-image: url("./images/image-hero-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  padding: 2rem 8rem 0 8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .logo-wrapper {
  width: 30%;
  cursor: pointer;
}

header #toggle {
  display: none;
}

header #menu-icon-wrapper {
  display: none;
}

header nav {
  width: 70%;
}

header nav .navlinks {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .navlinks li {
  list-style: none;
  padding-right: 2rem;
}

header nav .navlinks li a {
  text-decoration: none;
  color: white;
}

header nav .navlinks li:hover {
  text-decoration: underline;
}

main {
  width: 50%;
  height: auto;
  position: absolute;
  top: 300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#product-card {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 4rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#product-card .logo-wrapper {
  position: absolute;
  top: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#product-card .product-title {
  font-size: 2rem;
  font-weight: 700;
}

#product-card .description {
  color: #7a7a7a;
  margin: 1rem 0 2rem 0;
}

#product-card .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#product-card .buttons .back-project-btn {
  color: white;
  background-color: #3cb4ac;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 1.1rem 2rem;
  border-radius: 50px;
  margin: 0 1rem;
  cursor: pointer;
}

#product-card .buttons .back-project-btn:hover {
  background-color: #147b74;
}

#product-card .buttons .bookmark-btn {
  color: white;
  background-color: #ebebeb;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  padding: 1.1rem 2rem;
  border-radius: 50px;
  color: #7a7a7a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 1rem 2rem 1rem 4rem;
  margin: 0 1rem;
  cursor: pointer;
}

#product-card .buttons .bookmark-btn .bookmark-icon {
  position: absolute;
  top: 0;
  left: -14px;
}

#product-card .buttons .bookmark-icon-mobile {
  display: none;
}

#backer-card {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 4rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin-top: 2rem;
  padding: 3rem 2rem;
}

#backer-card .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

#backer-card .stats .main {
  margin: 0;
  font-size: 2rem;
}

#backer-card .stats .sub {
  margin: .5rem 0 0 0;
  color: gray;
  font-weight: 500;
}

#backer-card .stats hr {
  margin: 0;
}

#backer-card .slidebar-wrapper {
  width: 90%;
  margin: 0 auto;
}

#backer-card .slidebar-wrapper #slidebar {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#ebebeb), to(#ebebeb));
  background: linear-gradient(to right, #ebebeb 0%, #ebebeb 100%);
  cursor: pointer;
}

#backer-card .slidebar-wrapper #slidebar::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#backer-card .slidebar-wrapper #slidebar::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
}

#about-card {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 4rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  padding: 2rem;
}

#about-card .about-wrapper .title {
  margin: 0;
}

#about-card .about-wrapper .description {
  margin: 2rem 0;
  line-height: 1.8rem;
  color: gray;
  text-align: justify;
}

#about-card .bamboo-card, #about-card .black-edition-card, #about-card .mahogany-card {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 4rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "title . pledge" "description description description" "num-left . rewardBtn";
  justify-items: start;
}

#about-card .bamboo-card .title, #about-card .black-edition-card .title, #about-card .mahogany-card .title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-size: 1.2rem;
  margin: 0;
}

#about-card .bamboo-card .pledge, #about-card .black-edition-card .pledge, #about-card .mahogany-card .pledge {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: pledge;
  color: #3cb4ac;
  font-weight: 500;
      justify-self: end;
}

#about-card .bamboo-card .description, #about-card .black-edition-card .description, #about-card .mahogany-card .description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: description;
  text-align: justify;
  line-height: 1.8rem;
  color: gray;
}

#about-card .bamboo-card .num-left, #about-card .black-edition-card .num-left, #about-card .mahogany-card .num-left {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: num-left;
  color: gray;
}

#about-card .bamboo-card .num-left .num, #about-card .black-edition-card .num-left .num, #about-card .mahogany-card .num-left .num {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

#about-card .bamboo-card .rewardBtn, #about-card .black-edition-card .rewardBtn, #about-card .mahogany-card .rewardBtn {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: rewardBtn;
  color: white;
  background-color: #3cb4ac;
  font-family: inherit;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  -ms-grid-column-align: end;
      justify-self: end;
  cursor: pointer;
}

#about-card .bamboo-card .rewardBtn:hover, #about-card .black-edition-card .rewardBtn:hover, #about-card .mahogany-card .rewardBtn:hover {
  background-color: #147b74;
}

#about-card .black-edition-card, #about-card .mahogany-card {
  margin-top: 2rem;
}

#about-card .mahogany-card {
  opacity: .5;
}

#about-card .mahogany-card .rewardBtn {
  color: white;
  background-color: #7a7a7a;
}

#about-card .mahogany-card .rewardBtn:hover {
  background-color: #4d4d4d;
}

.attribution {
  text-align: center;
  margin: 1rem 0 3rem 0;
}

.toggle-modal-card {
  display: block !important;
}

#modal-card {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  padding: 4rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 3rem;
  z-index: 2;
}

#modal-card .icon-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

#modal-card .title {
  font-size: 1.5rem;
  font-weight: 700;
}

#modal-card .description {
  color: gray;
  line-height: 1.5rem;
  text-align: justify;
}

#modal-card .card-first {
  border-radius: 10px;
  cursor: pointer;
  border: 1px #e3e3e3 solid;
}

#modal-card .card-first .pledge-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto auto 1fr auto;
      grid-template-columns: 50px auto auto 1fr auto;
  -ms-grid-rows: 30px auto;
      grid-template-rows: 30px auto;
      grid-template-areas: "radio title pledge . num-left" ". descr descr descr descr";
  justify-items: start;
  padding: 2rem;
  -ms-grid-columns: 50px auto 1fr;
      grid-template-columns: 50px auto 1fr;
  grid-template-rows: 30px auto;
      grid-template-areas: "radio title . " ". descr descr";
}

#modal-card .card, #modal-card .card-last {
  border-radius: 10px;
  cursor: pointer;
  border: 1px #e3e3e3 solid;
}

#modal-card .card .pledge-info, #modal-card .card-last .pledge-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto auto 1fr auto;
      grid-template-columns: 50px auto auto 1fr auto;
  -ms-grid-rows: 30px auto;
      grid-template-rows: 30px auto;
      grid-template-areas: "radio title pledge . num-left" ". descr descr descr descr";
  justify-items: start;
  padding: 2rem;
}

#modal-card .card .pledge-amount, #modal-card .card-last .pledge-amount {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto auto;
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "pledge-text . input continueBtn";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #e3e3e3;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#modal-card .card .pledge-amount .text, #modal-card .card-last .pledge-amount .text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pledge-text;
  color: gray;
}

#modal-card .card .pledge-amount .input-wrapper, #modal-card .card-last .pledge-amount .input-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: input;
  width: 100px;
  height: 50px;
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  padding: 2px;
}

#modal-card .card .pledge-amount .input-wrapper .prefix, #modal-card .card-last .pledge-amount .input-wrapper .prefix {
  color: gray;
  margin: 0 .5rem 0 1rem;
}

#modal-card .card .pledge-amount .input-wrapper .pledge-input, #modal-card .card-last .pledge-amount .input-wrapper .pledge-input {
  width: 50%;
  border: none;
  outline: none;
  font-weight: 700;
  font-family: inherit;
}

#modal-card .card .pledge-amount .continueBtn, #modal-card .card-last .pledge-amount .continueBtn {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: continueBtn;
  background-color: #3cb4ac;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  font-family: inherit;
  padding: 1rem 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#modal-card .card-first, #modal-card .card, #modal-card .card-last {
  margin-top: 1.5rem;
}

#modal-card .card-first #reward-radio-1, #modal-card .card-first #reward-radio-2, #modal-card .card-first #reward-radio-3, #modal-card .card-first #reward-radio-4, #modal-card .card #reward-radio-1, #modal-card .card #reward-radio-2, #modal-card .card #reward-radio-3, #modal-card .card #reward-radio-4, #modal-card .card-last #reward-radio-1, #modal-card .card-last #reward-radio-2, #modal-card .card-last #reward-radio-3, #modal-card .card-last #reward-radio-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: radio;
  width: 22px;
  height: 22px;
  margin: 0;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#modal-card .card-first .title, #modal-card .card .title, #modal-card .card-last .title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: title;
  font-size: 1rem;
}

#modal-card .card-first .pledge, #modal-card .card .pledge, #modal-card .card-last .pledge {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: pledge;
  color: #3cb4ac;
  font-weight: 500;
  margin-left: 1rem;
}

#modal-card .card-first .num-left, #modal-card .card .num-left, #modal-card .card-last .num-left {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: num-left;
  color: gray;
}

#modal-card .card-first .num-left .num, #modal-card .card .num-left .num, #modal-card .card-last .num-left .num {
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
  margin-right: .5rem;
}

#modal-card .card-first .description, #modal-card .card .description, #modal-card .card-last .description {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: descr;
  line-height: 1.8rem;
  text-align: justify;
  margin: 0;
}

#modal-card .card-last {
  opacity: .7;
}

@media screen and (max-width: 1200px) {
  main {
    width: 60%;
  }
  #modal-card {
    width: 60%;
  }
}

@media screen and (max-width: 992px) {
  main {
    width: 70%;
  }
  #modal-card {
    width: 70%;
  }
  #modal-card .card-first .pledge-info .title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #modal-card .card-first .pledge-info .description {
    margin-top: 1rem;
  }
  #modal-card .card .pledge-info, #modal-card .card-last .pledge-info {
    -ms-grid-columns: 40px auto;
        grid-template-columns: 40px auto;
        grid-template-areas: "radio title . num-left" "radio pledge . num-left"    ". descr descr descr";
  }
  #modal-card .card .pledge-info .title, #modal-card .card .pledge-info .num-left, #modal-card .card-last .pledge-info .title, #modal-card .card-last .pledge-info .num-left {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #modal-card .card .pledge-info .pledge, #modal-card .card-last .pledge-info .pledge {
    margin: 0;
  }
  #modal-card .card .pledge-info .description, #modal-card .card-last .pledge-info .description {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    padding: 0;
    background-image: url("./images/image-hero-mobile.jpg");
  }
  header .logo-wrapper {
    padding: 2rem;
  }
  header .close {
    display: none;
  }
  header #menu-icon-wrapper {
    display: block;
    padding: 2rem 3rem 0 0;
  }
  header #toggle:checked + label > .hamburger {
    display: none;
    -webkit-transition: .3s;
    transition: .3s;
  }
  header #toggle:checked + label > .close {
    display: block;
    -webkit-transition: .3s;
    transition: .3s;
  }
  header .toggle-nav {
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header nav {
    background-color: white;
    position: absolute;
    top: -100%;
    width: 85%;
    border-radius: 10px;
  }
  header nav .navlinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav .navlinks li {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #bbbbbb;
  }
  header nav .navlinks li a {
    color: black;
    font-weight: 500;
  }
  main {
    width: 85%;
  }
  #backer-card .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 300px;
  }
  #backer-card .slidebar-wrapper {
    width: 100%;
  }
  #about-card .bamboo-card, #about-card .black-edition-card, #about-card .mahogany-card {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas: "title ." "pledge ." "description description" "num-left ."  "rewardBtn .";
  }
  #about-card .bamboo-card .pledge, #about-card .black-edition-card .pledge, #about-card .mahogany-card .pledge {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: .5rem;
  }
  #about-card .bamboo-card .rewardBtn, #about-card .black-edition-card .rewardBtn, #about-card .mahogany-card .rewardBtn {
    -ms-grid-column-align: start;
        justify-self: start;
    margin-top: 2rem;
  }
  #modal-card {
    padding: 1.5rem;
    width: 85%;
  }
  #modal-card .description {
    margin: 2rem 0;
  }
  #modal-card .card-first .pledge-info {
    -ms-grid-columns: 40px auto;
        grid-template-columns: 40px auto;
        grid-template-areas: "radio title" "descr descr";
    padding: 1.5rem;
  }
  #modal-card .card-first .pledge-info .title {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  #modal-card .card .pledge-info, #modal-card .card-last .pledge-info {
    -ms-grid-columns: 40px auto;
        grid-template-columns: 40px auto;
        grid-template-areas: "radio title title" "radio pledge pledge" "descr descr descr" "num-left num-left.";
    padding: 1.5rem;
  }
  #modal-card .card .pledge-info .title, #modal-card .card-last .pledge-info .title {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #modal-card .card .pledge-info .description, #modal-card .card-last .pledge-info .description {
    margin-top: 2rem;
  }
  #modal-card .card .pledge-info .num-left, #modal-card .card-last .pledge-info .num-left {
    margin-top: 1.5rem;
  }
  #modal-card .card .pledge-amount, #modal-card .card-last .pledge-amount {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: "pledge-text pledge-text" "input continueBtn";
  }
  #modal-card .card .pledge-amount .text, #modal-card .card-last .pledge-amount .text {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 0;
  }
  #modal-card .card .pledge-amount .input-wrapper, #modal-card .card-last .pledge-amount .input-wrapper {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  #modal-card .card .pledge-amount .continueBtn, #modal-card .card-last .pledge-amount .continueBtn {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media screen and (max-width: 576px) {
  main {
    width: 90%;
  }
  #product-card {
    padding: 3rem .5rem;
  }
  #product-card .product-title {
    font-size: 1.5rem;
  }
  #product-card .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #product-card .buttons .back-project-btn {
    margin: 0 1rem 0 0;
  }
  #product-card .buttons .bookmark-btn {
    display: none;
  }
  #product-card .buttons .bookmark-icon-mobile {
    display: block;
  }
  #modal-card {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */