$moderateCyan: hsl(176, 50%, 47%);
$darkCyan: rgb(20, 123, 116);
$darkGray: hsl(0, 0%, 48%);
$textColor: hsl(0, 0%, 50%);

$headerHeight: 400px;

@mixin card {
    background-color: white;
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 10px;
    padding: 4rem 2rem;
    box-sizing: border-box
}

@mixin roundedButton($bgColor) {
    color: white;
    background-color: $bgColor;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    padding: 1.1rem 2rem;
    border-radius: 50px;
}

@mixin rewardCard {
    padding: 2rem;   
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "title . pledge"
    "description description description"
    "num-left . rewardBtn";
    justify-items: start;
}

@mixin rewardCardTitle {
    font-size: 1.2rem;
    margin: 0;
}

@mixin rewardCardPledge {
    color: $moderateCyan;
    font-weight: 500;
    justify-self: end;
}

@mixin rewardCardDescription {
    text-align: justify;
    line-height: 1.8rem;
    color: $textColor;
}

@mixin rewardCardRewardBtn {
    color: white;
    background-color: $moderateCyan;
    font-family: inherit;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 50px;
    border: none;
    justify-self: end;
    cursor: pointer;
}

@mixin modalCard {
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 89%);
}

@mixin pledgeInfo {
    display: grid;
    grid-template-columns: 50px auto auto 1fr auto;
    grid-template-rows: 30px auto;
    grid-template-areas: 
    "checkbox title pledge . num-left"
    ". descr descr descr descr";
    justify-items: start;
    padding: 2rem;    
    cursor: pointer;
}


body {
    margin: 0;
    padding: 0;
    height: 150vh;
    font-family: "Commissioner", Arial, Helvetica, sans-serif;
    font-size: 16px;  
    background-color: hsl(0, 0%, 96%);
}

#overlay {
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: .5;
    position: fixed;
    z-index: 1;
    // display: none;
}

header {
    width: 100%;
    min-height: $headerHeight;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    background-image: url("./images/image-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 2rem 8rem 0 8rem;
    box-sizing: border-box;

    .logo-wrapper {
        width: 30%;
        cursor: pointer;
    }

    #toggle {
        display: none;
    }

    #menu-icon-wrapper {
        display: none;
    }

    nav {
        width: 70%;

        .navlinks {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            
            li {
                list-style: none;
                padding-right: 2rem;
            }
            li a {
                text-decoration: none;
                color: white;
            }
            li:hover {
                text-decoration: underline;
            }
        }
    }
}

main {
    width: 50%;
    height: auto;
    // background-color: blueviolet;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

#product-card {
    @include card();
    text-align: center;
    
    .logo-wrapper {
        position: absolute;
        top: -28px;
        left: 50%;
        transform: translateX(-50%);
    }
    .product-title {
        font-size: 2rem;
        font-weight: 700;
    }
    .description {
        color: $darkGray;
        margin: 1rem 0 2rem 0;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        
        .back-project-btn {
            @include roundedButton($moderateCyan);
            margin: 0 1rem;
            cursor: pointer
        }
        .back-project-btn:hover {
            background-color: $darkCyan
        }
        .bookmark-btn {
            @include roundedButton(hsl(0, 0%, 92%));
            color: $darkGray;
            box-sizing: border-box;
            position: relative;
            padding: 1rem 2rem 1rem 4rem;
            margin: 0 1rem;
            cursor: pointer;

            .bookmark-icon {
                // relative to .bookmark-btn
                position: absolute;
                top: 0;
                left: -14px;;

                // #circle {
                //     fill: $darkCyan;
                // }
                // #icon {
                //     fill: ;
                // }
            }
        }
        #bkmkToggle {
            // display: none;
        }
        .bookmark-icon-mobile {
            display: none;
        }
    }
    
}

#backer-card {
    @include card();
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 2rem;
    padding: 3rem 2rem;

    .stats {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2rem;

        .main {
            margin: 0;
            font-size: 2rem;
        }
        .sub {
            margin: .5rem 0 0 0;
            color: $textColor;
            font-weight: 500;
        }

        hr {
            margin: 0;
        }

    }
    
    .slidebar-wrapper {
        width: 90%;
        margin: 0 auto;
        
        #slidebar {
            -webkit-appearance: none;
            width: 100%;
            border-radius: 10px;
            background: linear-gradient(to right, hsl(0, 0%, 92%) 0%,hsl(0, 0%, 92%) 100%);
            // background: linear-gradient(to right, black 0%,hsl(0, 0%, 92%) 100%);
            cursor: pointer;
        }
        #slidebar::-webkit-slider-thumb {
            -webkit-appearance: none;
            // width: 20px;
            // height: 20px;
            // background-color: $moderateCyan;
            // border-radius: 10px;
            // margin: 0;
        }
        #slidebar::-webkit-slider-runnable-track {
            width: 100%;
            height: 20px;
        }
    }
}

#about-card {
    @include card();
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;

    .about-wrapper {
        
        .title {
            margin: 0;
        }
        .description {
            margin: 2rem 0;
            line-height: 1.8rem;
            color: $textColor;
            text-align: justify;
        }
    }
    .bamboo-card, .black-edition-card, .mahogany-card {
        @include card();
        @include rewardCard();
        
        .title {
            grid-area: title;
            @include rewardCardTitle();
        }
        .pledge {
            grid-area: pledge;
            @include rewardCardPledge();
            
        }
        .description {
            grid-area: description;
            @include rewardCardDescription();
        }
        .num-left {
            grid-area: num-left;
            color: $textColor;

            .num {
                color: black;
                font-size: 2rem;
                font-weight: 700;
            }
        }
        .rewardBtn {
            grid-area: rewardBtn;
            @include rewardCardRewardBtn();
        }
        .rewardBtn:hover {
            background-color: $darkCyan;
        }
    }
    .black-edition-card, .mahogany-card {
        margin-top: 2rem;
    }
    .mahogany-card {
        opacity: .5;
        
        .rewardBtn {
            color: white;
            background-color: $darkGray;
        }
        .rewardBtn:hover {
            background-color: hsl(0, 0, 30%);
        }
    }
}

.attribution {
    text-align: center;
    margin: 1rem 0 3rem 0;

}

.toggle-modal-card {
    // to override display: none as it has higher specificality
    display: block !important;
}

#modal-card {
    @include card();
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem;
    z-index: 2;
    box-sizing: border-box;
    // display: none;

    .icon-close {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;

        path:hover {
            opacity: 1;
        }
    }
    
    .title {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .description {
        color: $textColor;
        line-height: 1.5rem;
        text-align: justify; 
    } 

    // for first card with slightly diff grid layout than the rest
    .card-first {
        @include modalCard();
        
        .pledge-info {
            @include pledgeInfo();
            // ! overwritten columns and areas // 
            grid-template-columns: 50px auto 1fr;
            grid-template-rows: 30px auto;
            grid-template-areas: 
            "checkbox title . "
            ". descr descr";
        }
        
    }
    .card, .card-last {
        @include modalCard();
        
        .pledge-info {
            @include pledgeInfo();
        }
        .pledge-amount {
            display: none;
            grid-template-columns: auto 1fr auto auto;
            grid-template-areas: 
            "pledge-text . input continueBtn";
            align-items: center;
            border-top: 2px solid hsl(0, 0%, 89%);
            padding: 1.5rem;
            box-sizing: border-box;

            .text {
                grid-area: pledge-text;
                color: $textColor;
            }
            .input-wrapper {
                grid-area: input;
                width: 100px;
                height: 50px;
                background-color: white;
                border: 1px solid hsl(0, 0%, 89%);
                border-radius: 50px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1rem;
                padding: 2px;
                
                &:hover {
                    border: 1px solid $darkCyan;
                }
                
                .prefix {
                    color: $textColor;
                    margin: 0 .5rem 0 1rem;
                }
                .pledge-input {
                    width: 50%;
                    border: none;
                    outline: none;
                    font-weight: 700;
                    font-family: inherit;
                }
            }
            .continueBtn {
                grid-area: continueBtn;
                background-color: $moderateCyan;
                border: none;
                border-radius: 50px;
                color: white;
                font-weight: 500;
                font-family: inherit;
                padding: 1rem 1.5rem;
                box-sizing: border-box;
                cursor: pointer;

                &:hover {
                    background-color: $darkCyan;
                }
            }
        }
    }
    .card-first, .card, .card-last {
        margin-top: 1.5rem;
        
        .checkbox {
            position: absolute;
            visibility: hidden;
        }
        .check {
            grid-area: checkbox;
            width: 25px;
            height: 25px;   
            // background-color: white;  
            border: 1px solid hsl(0, 0%, 85%);
            border-radius: 50%;
            box-sizing: border-box;
            position: relative;
            
            &:hover {
                border: 1px solid $moderateCyan;
            }
        }
        .checkbox:checked + .check::before {
            content: "";
            position: absolute;
            // relative to .check
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            background-color: $moderateCyan;
            border-radius: 50%;
        }

        .title {
            grid-area: title;
            font-size: 1rem;
            &:hover {
                color: $moderateCyan;
            }
        }
        .title:hover + .pledge {
            font-weight: 700;
        }
        .pledge {
            grid-area: pledge;
            color: $moderateCyan;
            font-weight: 500;
            margin-left: 1rem;
        }
        .num-left {
            grid-area: num-left;
            color: $textColor;
            
            .num {
                font-size: 1.3rem;
                font-weight: 700;
                color: black;
                margin-right: .5rem;
            }
        }
        .description {
            grid-area: descr;
            line-height: 1.8rem;
            text-align: justify;
            margin: 0;
        }
    }
    .card-last {
        opacity: .5;
    }
}

@media screen and (max-width: 1200px) {
    main {
        width: 60%;
    }
    #modal-card {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    main {
        width: 70%;
    }
    #modal-card {
        width: 70%;

        .card-first .pledge-info {
            .title {
                align-self: center;
            }

            .description {
                margin-top: 1rem;
            }
        }

        .card, .card-last {    
            .pledge-info {
                grid-template-columns: 40px auto;
                grid-template-areas:    
                "checkbox title . num-left"
                "checkbox pledge . num-left"   
                ". descr descr descr";

                .title, .num-left {
                    align-self: center;
                }
                .pledge {
                    margin: 0;
                }
                .description {
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        position: relative;
        padding: 0;
        background-image: url('./images/image-hero-mobile.jpg');

        .logo-wrapper {
            padding: 2rem;
        }

        .close {
            display: none;
        }
        #menu-icon-wrapper {
            display: block;
            padding: 2rem 3rem 0 0;
        }
        #toggle:checked + label > .hamburger {
            display: none;
            transition: .3s;
        }
        #toggle:checked + label > .close {
            display: block;
            transition: .3s;
        }
        
        .toggle-nav {
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
        }
        
        nav {   
            background-color: white;
            // relative to header 
            position: absolute; 
            top: -100%;
            width: 85%;
            border-radius: 10px;
            
            .navlinks {
                flex-direction: column;
                
                li {
                    padding: 1rem 1.5rem; 
                    border-bottom: 1px solid rgb(187, 187, 187);
                }
                li a {
                    color: black;
                    font-weight: 500;
                }
            }
        }
    }
    
    main {
        width: 85%;
    }

    #backer-card {

        .stats {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 300px;
        }
        .slidebar-wrapper {
            width: 100%;
        }
    }
    
    #about-card {
        
        .bamboo-card, .black-edition-card, .mahogany-card {
            grid-template-columns: auto 1fr;
            grid-template-areas: 
            "title ."
            "pledge ."
            "description description"
            "num-left ." 
            "rewardBtn .";
            
            .pledge {
                justify-self: start;
                margin-top: .5rem;
            }
            .rewardBtn {
                justify-self: start;
                margin-top: 2rem;
            }
        }

    }

    #modal-card {
        padding: 1.5rem;
        width: 85%;

        .description {
            margin: 2rem 0;
            
        }

        .card-first .pledge-info {
            grid-template-columns: 40px auto;
            grid-template-areas: 
            "checkbox title"
            "descr descr";
            padding: 1.5rem;

            .title {
                justify-self: start;
            }
        }

        .card .pledge-info, .card-last .pledge-info {
            grid-template-columns: 40px auto;
            grid-template-areas: 
            "checkbox title title"
            "checkbox pledge pledge"
            "descr descr descr"
            "num-left num-left.";
            padding: 1.5rem;

            .title {
                justify-self: start;
                align-self: center;
            }
            .description {
                margin-top: 2rem;
            }
            .num-left {
                margin-top: 1.5rem;
            }
        }

        .card .pledge-amount, .card-last .pledge-amount {
            grid-template-columns: auto auto;
            grid-template-areas: 
            "pledge-text pledge-text"
            "input continueBtn";
            
            .text {
                justify-self: center;
                margin-top: 0;
            }
            .input-wrapper {
                justify-self: end;
            }
            .continueBtn {
                justify-self: start;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    main {
        width: 90%;
    }

    #product-card {
        padding: 3rem .5rem;

        .product-title {
            font-size: 1.5rem;
        }

        .buttons {
            justify-content: center;

            .back-project-btn {
                margin: 0 1rem 0 0;
            }

            .bookmark-btn {
                display: none;
            }
            .bookmark-icon-mobile {
                display: block;
            }
        }
    }

    #modal-card {
        width: 90%;

        .card, .card-last {
            .pledge-amount {
                padding: 1.5rem .5rem;
            }
        }
    }
}


